header.flex-container {
  text-align: center;
  padding: var(--spacing-lg);
  justify-content: flex-start;
  background: linear-gradient(rgb(190, 190, 190), var(--color-light));
}

header img {
  height: 50px;
}
