section:first-child {
  flex: 0 0 215px;
  position: sticky;
  top: 0;
}
.filter-section {
  padding: var(--spacing-lg);
  justify-content: center;
  background-color: var(--color-accent);
  border-radius: 0 var(--radius-md) 0 0;
  margin-top: var(--spacing-sm);
}

button {
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--radius-md);
  border: none;
  cursor: pointer;
}

select {
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--radius-md);
}

input[type='number'] {
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--radius-md);
  border: 1px solid var(--color-dark);
  width: 70px;
  margin-right: var(--spacing-xs);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus {
  outline: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.applied-filters {
  padding: var(--spacing-md);
  box-sizing: content-box;
  gap: var(--spacing-sm);
  background-color: rgb(211, 211, 211);
  border-radius: 0 0 var(--radius-md) 0;
}
.filter-tag {
  background-color: rgb(158, 158, 158);
  border-radius: var(--radius-lg);
  padding: var(--spacing-xs) var(--spacing-sm);
  font-size: var(--font-size-text-sm);
  /* margin: var(--spacing-md); */
}
.hidden {
  display: none;
}

@media (max-width: 400px) {
  section:first-child {
    position: relative;
  }
  .filter-section {
    border-radius: 0;
  }
  .applied-filters {
    border-radius: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 15;
  }
}
